.component {
  padding: 0;
  margin: 0;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.component li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.038);
}

.component li:hover {
  background: rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.5);
}

.component li[disabled] {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  color: rgba(0, 0, 0, 0.62);
}

.component span {
  display: block;
  white-space: nowrap;
}

.component li p {
  display: flex;
  align-items: center;
}

.component label {
  display: none;
}

.component label:not(:empty) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.62rem;
  height: 1.62rem;
  padding: 0;
  border-radius: 0.38rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.component svg {
  width: 1.62rem;
  height: 1.62rem;
  fill: rgba(0, 0, 0, 0.38);
  margin-right: 1rem;
}
