.component {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.component li {
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.038);
}

.component li:hover {
  background: rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.5);
}

.component li[disabled] {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  color: rgba(0, 0, 0, 0.62);
}

.component span {
  display: block;
  white-space: nowrap;
}

.component col- {
  overflow: hidden;
}

.component label {
  display: none;
}

.component label:not(:empty) {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.62rem;
  height: 1.62rem;
  padding: 0;
  border-radius: 0.38rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 1rem;
}

.component svg,
.component img {
  width: 2.4rem;
  height: 2.4rem;
  fill: rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  border-radius: 50%;
}

.component h2 {
  font-size: 1rem;
  padding: 1rem;
  background: #fcfcfc;
  color: #b6b6b6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.component h2:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.component span:not(:empty) {
  display: block;
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
