.component {
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  flex: none;
  display: flex;
  align-items: center;
  padding: 0.62rem;
  height: 4.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.component button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.62rem;
  border-radius: 0.5rem;
}

.component h1 {
  font-size: 1.38rem;
  color: rgba(0, 0, 0, 0.62);
  margin: auto;
}

.component h4 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0;
}

.component div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
  padding: 0.62rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.component div > * + * {
  margin-left: 0.62rem;
}

.component svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgba(0, 0, 0, 0.38);
}

@media (min-width: 640px) {
  .component button {
    display: none;
  }
}
