.component {
  flex: 1 1 100%;
  padding: 1rem;
  border-bottom: 2rem solid #fafafa;
  margin: 0;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.component > wrapper- {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  margin: auto;
  text-align: center;
  color: #b6b6b6;
}

.empty > * + * {
  margin-top: 1rem;
}

.empty > span {
  font-size: 3rem;
}

.empty > p {
  font-size: 1rem;
  line-height: 150%;
  max-width: 40ex;
}
