* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  height: 100vh;
  font-size: calc(10px + 1vmin);
  font-family: sans-serif;
  background: #f2f2f2;
}

body,
h1,h2,h3,h4,
p {
  margin: 0;
}

main {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

aside {
  flex: 1 1 28rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fcfcfc;
}

section {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

button,
input {
  outline: none;
}

[disabled],
.dragging {
  opacity: 0.5;
}
