* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  height: 100vh;
  font-size: calc(10px + 1vmin);
  font-family: sans-serif;
  background: #f2f2f2;
}

body,
h1,
p {
  margin: 0;
}

body > svg {
  display: none;
}

main {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  // animation: fadeInUp 1s;
}

aside {
  flex: 1 1 28rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fcfcfc;
}

aside ul {
  padding: 1rem;
  margin: 0;
  overflow-y: scroll;
}

aside ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: rgba(0, 0, 0, 0.38);
}

aside ul li:hover {
  background: rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.5);
}

aside ul li[disabled] {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  color: rgba(0, 0, 0, 0.62);
}

aside ul li span {
  font-size: 0.62rem;
  display: block;
  padding: 0.38rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.38rem;
}

aside form {
  margin-top: auto;
}

section {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

section input[type='file'] {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

header {
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4.8rem;
}

header > * + * {
  margin-left: 1rem;
}
header > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.38rem;
  background: #e0e0e0;
}

header h3 {
  color: rgba(0, 0, 0, 0.38);
}

header h4 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0;
}
header > h1 {
  color: rgba(0, 0, 0, 0.62);
  margin: auto;
}

header > h3:empty {
  display: block;
  background: #f2f2f2;
  width: 10rem;
  height: 1rem;
  animation: pulse 1s infinite;
}

header div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
  padding: 0.62rem;
  border-radius: 0.5rem;
}

header div > * + * {
  margin-left: 0.62rem;
}

header svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgba(0, 0, 0, 0.38);
}

.feed {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  overflow: auto;
}

.feed > * {
  padding-top: 1rem;
}

.feed:empty::after {
  content: 'LOADING';
  margin: auto;
  color: #e0e0e0;
  animation: pulse 1s infinite;
}

.feed message- {
  position: relative;
  display: flex;
  flex: none;
  font-size: 16px;
}

.feed img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.38rem;
}

.feed message- > * + * {
  margin-left: 0.38rem;
}

.feed message- div {
  margin-left: 1rem;
}

.feed message- p {
  padding: 0.5rem 0;
  max-width: 100%;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.8);
  line-height: 150%;
  max-width: 100ex;
}

// .feed message-.own {
//   flex-direction: row-reverse;
// }
//
// .feed message-.own > * + * {
//   margin-right: 0.38rem;
// }
//
// .feed message-.own p {
//   background: #006eff;
//   border-radius: 0.5rem 0.5rem 0 0.5rem;
//   color: #fff;
// }

.feed message- span {
  display: block;
  font-size: 0.62rem;
  color: #b6b6b6;
  margin: 0;
}

.typing {
  font-size: 0.68rem;
  color: rgba(0, 0, 0, 0.38);
}

.typing:not(:empty) {
  padding: 0.68rem;
}

form {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  height: 3.6rem;
  display: flex;
  width: 100%;
}

form input {
  flex: 1 1 100%;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
}
form button {
  border: 0;
  padding: 0 1rem;
  background: #fff;
}
form button svg {
  width: 2rem;
  height: 2rem;
  fill: #006eff;
}

button,
input {
  outline: none;
}

[disabled] {
  opacity: 0.5;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
